body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #000000, #000000, #000000, #000000);
	background-size: 400% 400%;
}

h1{
	font-weight: 300;
	text-align: center;
	position: absolute;
	top: 45%;
	right: 0;
	left: 0;
}
p {
	color: #fff;
	font-weight: 150;
	text-align: center;
}
.btnX {
	width:90%;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:20px;
	font-weight:600;
}
.social-icons {
	text-align: center;
	margin-bottom: 15px;
}

.social-icons a {
	color: #fff;
	font-size: 26px;
	margin: 0 10px;
	transition: 0.3s;
}

.social-icons a:hover {
	transform: scale(1.25);
	color: #fff;
}

.linktree {
  width: 120px;
  height: 120px;
  background-image: url("oggcsIH.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
}
.texta {
  width: 80%;
  text-align: center;
  position: absolute;
  color: #fff;
  font-size: 20pt;
  font-weight: bold;
  border-bottom: 1px dashed #fff;
}
